[Unit]
Description=zouipocar server

[Service]
ExecStart=/opt/zouipocar/zouipocar
WorkingDirectory=/opt/zouipocar

[Install]
WantedBy=multi-user.target